<% content_for :styles do %>
    <style>
        body {
            background-color: #fff!important;
        }
    </style>
<% end %>

<section class="section">
    <h1 class="title is-3">Lists</h1>

    <hr />

    <%= tag.div id: :boards, data: { lists: @lists.to_json(include: :cards) } %>

</section>