@import url(https://fonts.googleapis.com/css?family=Raleway:400,100,200,300);

@import 'bulma/bulma.sass';

$primary: #28A55F;
$primary-invert: findColorInvert(#28A55F);
$primary-light: findLightColor(#28A55F);

body {
  height: 100vh;
  font-family: Raleway;
  background-color: #f1f2f2;
}

.board {
  overflow-x: auto;
  padding-bottom: 30px;
}

.list {
  background: #E2E4E6;
  padding: 10px;
  border-radius: 3px;
  margin-right: 20px;
  vertical-align: top;
  display: inline-table;
}

.new-list {
  margin-top: -20px
}

.cancel-button {
  margin-top: 15px;
  display: inline-flex;
}

.navbar {
  box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0px 0 1px rgba(10, 10, 10, 0.02);
}

.button.is-danger {
  background-color: #f14668!important;
}

.card {
  box-shadow: unset;
  border: #ddd solid 1px;
  padding-bottom: 10px;
  background-color: #fff;
  margin-bottom: 5px;
}

.card-content {
  padding: 0.75rem;
}

.card-footer {
  display: block;
  border-top: unset;
  margin-top: 20px;
}

.card-footer .button {
  margin-top: 5px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 1rem;

  background-color: #3b4045;
  color: #eee;
}
